

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient py-4">
        <div class="row">
            <div class="col-12 text-center">
				<h2>Privacy Policy</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
				<h3>Everything is fine... have a nice day</h3>
            </div>
        </div>

    </div>
</div>